<mat-toolbar-row class="mat-primary">
  <mat-toolbar><a mat-button routerLink='/'>Home</a></mat-toolbar>
  <mat-toolbar><a mat-button routerLink='/brand'>Brand</a></mat-toolbar>
  <mat-toolbar><a mat-button routerLink='/category'>Category</a></mat-toolbar>
  <mat-toolbar><a mat-button routerLink='/product-list'>Product</a></mat-toolbar>
  <mat-toolbar><a mat-button routerLink='/cart'>Cart</a></mat-toolbar>
</mat-toolbar-row>
      <!--<a mat-button [routerLink]="signIn" routerLinkActive="" ariaCurrentWhenActive="">Sign In</a>-->
      <!--[routerLinkActive]='' [ariaCurrentWhenActive]=''-->
<!--<router-outlet></router-outlet>-->
