<p>product-side-bar works!</p>
<!--Creates a layout with left-positioned side-nav and explicit content-->
<!--<mat-sidenav-container align="start"  >
  <mat-sidenav><a mat-button routerLink='/'>Lorem Ipsum</a></mat-sidenav>
  <mat-sidenav><a mat-button routerLink='/'>Lorem Ipsum</a></mat-sidenav>
  <mat-sidenav><a mat-button routerLink='/'>Lorem Ipsum</a></mat-sidenav>
  <mat-sidenav><a mat-button routerLink='/'>Lorem Ipsum</a></mat-sidenav>
  <mat-sidenav><a mat-button routerLink='/'>Lorem Ipsum</a></mat-sidenav>
</mat-sidenav-container>-->
