/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;font-family: Roboto, "Helvetica Neue", sans-serif; }
.header{
  background-color: silver;
  color:#fff;
  padding: 2%;
  text-align: center;
}

.content{
}

header{
  /*font-size: -webkit-xxx-large;*/
}

footer{
  background-color: silver;
  height: 7vh;
  color:#fff;
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
